/** { border: 1px solid black}*/

.container {
    background: linear-gradient(135deg, #1f9e5f, #046335);
    margin: 0 auto;
    align-items: center;
    padding: 0 200px;
};


h1 {
   align-content: center;
   
}

.card {
    width: 130px;
    height: 190px;
}

div {
    margin: 0 auto;
}

.dealerCards, .playerCards {
    align-content: center;
}


